Repository goharbor/harbor, pull requests merged in 2018-11, with the labels that each got.

#6215 Build logger framework to support configurable loggers/sweepers/getters
  make/common/templates/jobservice/config.yml
  src/common/utils/log/logger.go
  src/jobservice/README.md
  src/jobservice/config.yml
  src/jobservice/config/config.go
  src/jobservice/config/config_test.go
  src/jobservice/config_test.yml
  src/jobservice/core/controller.go
  src/jobservice/core/controller_test.go
  src/jobservice/job/impl/context.go
  src/jobservice/job/impl/default_context.go
  src/jobservice/job/impl/default_context_test.go
  src/jobservice/job/impl/logger/job_logger.go
  src/jobservice/job/impl/logger/service_logger.go
  src/jobservice/logger/backend/file_logger.go
  src/jobservice/logger/backend/file_logger_test.go
  src/jobservice/logger/backend/std_logger.go
  src/jobservice/logger/backend/std_logger_test.go
  src/jobservice/logger/backend/utils.go
  src/jobservice/logger/backend/utils_test.go
  src/jobservice/logger/base.go
  src/jobservice/logger/base_test.go
  src/jobservice/logger/entry.go
  src/jobservice/logger/factory.go
  src/jobservice/logger/getter/Interface.go
  src/jobservice/logger/getter/file_getter.go
  src/jobservice/logger/getter/file_getter_test.go
  src/jobservice/logger/getter_factory.go
  src/jobservice/logger/known_loggers.go
  src/jobservice/logger/log_data_handler.go
  src/jobservice/logger/options.go
  src/jobservice/logger/service.go
  src/jobservice/logger/service_logger_test.go
  src/jobservice/logger/sweeper.go
  src/jobservice/logger/sweeper/file_sweeper.go
  src/jobservice/logger/sweeper/file_sweeper_test.go
  src/jobservice/logger/sweeper/interface.go
  src/jobservice/logger/sweeper_controller.go
  src/jobservice/logger/sweeper_factory.go
  src/jobservice/logger/sweeper_test.go
  src/jobservice/main.go
  src/jobservice/pool/redis_job_wrapper_test.go
  src/jobservice/runtime/bootstrap.go
Labels: area/job-services

#6241 Uncomment the harbor configuration injection code block
  src/jobservice/README.md
  src/jobservice/main.go
Labels: area/job-services

#6258 Enhance: Add helm chart count number in the project list
  src/portal/src/app/project/list-project/list-project.component.html
  src/portal/src/app/project/list-project/list-project.component.ts
  src/portal/src/app/project/project.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: target/1.7.0

#6374 Fix the malformat json data of chart list API
  src/chartserver/chart_operator.go
Labels: area/helm-chart-repo

#6376 Restore the missing picture of CONTRIBUTING.md file
  docs/img/workflow.png
Labels: area/doc

#6379 Add retry with backoff when creating redis cache for chart server
  src/chartserver/cache.go
Labels: area/helm-chart-repo

#6381 Check the existence of name when creating replication rule
  make/migrations/postgresql/0002_1.7.0_schema.up.sql
  src/common/dao/dao_test.go
  src/core/api/replication_policy.go
  src/core/api/replication_policy_test.go
  tests/apitests/python/library/label.py
  tests/apitests/python/library/registry.py
  tests/apitests/python/library/replication.py
  tests/apitests/python/test_add_replication_rule.py
Labels: target/1.7.0

#6396 Support unique job constraints (both unique queue and running jobs)
  src/jobservice/config.yml
  src/jobservice/pool/de_duplicator.go
  src/jobservice/pool/de_duplicator_test.go
  src/jobservice/pool/redis_job_wrapper.go
  src/jobservice/pool/redis_job_wrapper_test.go
  src/jobservice/pool/redis_pool.go
Labels: area/job-services
