Repository goharbor/harbor, pull requests merged in 2018-10, with the labels that each got.

#5972 Add community meeting reference in the README of harbor repo
  README.md
  docs/img/bell-outline-badged.svg
Labels: area/CNCF

#5779 Images retag
  docs/swagger.yaml
  src/common/dao/project.go
  src/common/dao/project_test.go
  src/common/models/retag.go
  src/common/models/retag_test.go
  src/common/utils/registry/auth/tokenauthorizer.go
  src/common/utils/registry/auth/tokenauthorizer_test.go
  src/common/utils/registry/repository.go
  src/common/utils/registry/repository_test.go
  src/core/api/harborapi_test.go
  src/core/api/repository.go
  src/core/api/repository_test.go
  src/core/router.go
  src/core/utils/retag.go
  src/core/utils/utils.go
  tests/apitests/apilib/repository.go
Labels: target/1.7.0

#6107 Fix: Show image description info based on locale setting
  src/portal/lib/src/repository-gridview/repository-gridview.component.html
  src/portal/lib/src/repository-gridview/repository-gridview.component.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
Labels: target/1.7.0

#5371 Build history
  src/portal/lib/src/service/interface.ts
  src/portal/lib/src/service/tag.service.ts
  src/portal/lib/src/tag/index.ts
  src/portal/lib/src/tag/tag-detail.component.html
  src/portal/lib/src/tag/tag-detail.component.spec.ts
  src/portal/lib/src/tag/tag-detail.component.ts
  src/portal/lib/src/tag/tag-history.component.html
  src/portal/lib/src/tag/tag-history.component.scss
  src/portal/lib/src/tag/tag-history.component.ts
  src/portal/package.json
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: target/1.7.0

#5995 Add image retag function in portal
  src/portal/lib/src/harbor-library.module.ts
  src/portal/lib/src/image-name-input/image-name-input.component.html
  src/portal/lib/src/image-name-input/image-name-input.component.scss
  src/portal/lib/src/image-name-input/image-name-input.component.spec.ts
  src/portal/lib/src/image-name-input/image-name-input.component.ts
  src/portal/lib/src/image-name-input/index.ts
  src/portal/lib/src/repository-gridview/repository-gridview.component.spec.ts
  src/portal/lib/src/repository/repository.component.spec.ts
  src/portal/lib/src/service/index.ts
  src/portal/lib/src/service/interface.ts
  src/portal/lib/src/service/retag.service.ts
  src/portal/lib/src/tag/tag.component.html
  src/portal/lib/src/tag/tag.component.scss
  src/portal/lib/src/tag/tag.component.spec.ts
  src/portal/lib/src/tag/tag.component.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: target/1.7.0

#6151 Fix the web hook mising issue for the periodic job executions
  src/jobservice/opm/job_stats_mgr.go
  src/jobservice/opm/redis_job_stats_mgr.go
  src/jobservice/period/enqueuer.go
Labels: area/job-services

#6169 Return 409 conflict error in liue of 200 with ID of existing one
  src/jobservice/api/handler.go
  src/jobservice/errs/errors.go
  src/jobservice/period/redis_scheduler.go
Labels: area/job-services

#6176 Support health check free call in job service
  src/jobservice/api/router.go
Labels: area/job-services

#6174 Fix the issue of stopping periodic job
  src/jobservice/opm/job_stats_mgr.go
  src/jobservice/opm/redis_job_stats_mgr.go
  src/jobservice/opm/redis_job_stats_mgr_test.go
  src/jobservice/period/enqueuer.go
  src/jobservice/pool/redis_pool.go
Labels: area/job-services

#6181 Add TestOnBorrow check func of redis pool to verify the getting conn
  src/jobservice/runtime/bootstrap.go
Labels: area/job-services

#6183 Use separate redis conn for the lock mechanism in the periodic enqueuer
  src/jobservice/period/enqueuer.go
Labels: area/job-services
