Repository goharbor/harbor, pull requests merged in 2019-03, with the labels that each got.

#6917 scheduler module for replication
  src/replication/ng/scheduler/scheduler.go
  src/replication/ng/scheduler/scheduler_test.go
Labels: area/replication

#6833 Implement registries manager and APIs for NG replication
  .travis.yml
  docs/swagger.yaml
  make/migrations/postgresql/0006_ng_replication.up.sql
  src/common/dao/dao_test.go
  src/common/dao/replication_job.go
  src/common/dao/watch_item_test.go
  src/common/job/test/server.go
  src/common/models/base.go
  src/common/models/replication_job.go
  src/common/utils/test/replication_controllter.go
  src/core/api/dataprepare_test.go
  src/core/api/harborapi_test.go
  src/core/api/label_test.go
  src/core/api/models/registry.go
  src/core/api/models/replication_policy.go
  src/core/api/registry.go
  src/core/api/registry_test.go
  src/core/api/replication_policy.go
  src/core/api/replication_policy_test.go
  src/core/api/replication_test.go
  src/core/api/target.go
  src/core/api/target_test.go
  src/core/main.go
  src/core/router.go
  src/replication/core/controller.go
  src/replication/core/controller_test.go
  src/replication/ng/dao/models/registry.go
  src/replication/ng/dao/models/registry_test.go
  src/replication/ng/dao/registry.go
  src/replication/ng/dao/registry_test.go
  src/replication/ng/flow/controller.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/model/registry.go
  src/replication/ng/registry/healthcheck.go
  src/replication/ng/registry/manager.go
  src/replication/ng/registry/manager_test.go
  src/replication/ng/replication.go
  src/replication/replicator/replicator.go
  src/replication/target/target.go
Labels: area/replication

#7079 Implement replication adapter API
  docs/swagger.yaml
  src/core/api/harborapi_test.go
  src/core/api/replication_adapter.go
  src/core/api/replication_adapter_test.go
  src/core/router.go
  src/replication/ng/adapter/adapter.go
  src/replication/ng/adapter/adapter_test.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/model/registry.go
Labels: area/replication

#7046 Implement replication operation API
  docs/swagger.yaml
  src/common/rbac/const.go
  src/common/rbac/project/util.go
  src/core/api/harborapi_test.go
  src/core/api/replication_execution.go
  src/core/api/replication_execution_test.go
  src/core/router.go
  src/replication/ng/operation/controller.go
  src/replication/ng/replication.go
Labels: area/replication

#7037 Refactor the adapter interface
  src/replication/ng/adapter/adapter.go
  src/replication/ng/adapter/chart_registry.go
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/flow/flow.go
  src/replication/ng/model/policy.go
  src/replication/ng/transfer/repository/registry.go
  src/replication/ng/transfer/repository/transfer.go
  src/replication/ng/transfer/repository/transfer_test.go
Labels: area/replication

#6947 Ng policy manager
  src/common/models/base.go
  src/replication/ng/dao/models/policy.go
  src/replication/ng/dao/policy.go
  src/replication/ng/policy/manager.go
Labels: area/replication

#7108 Policy manager ng UT
  make/migrations/postgresql/0006_ng_replication.up.sql
  src/replication/ng/dao/dao_test.go
  src/replication/ng/dao/policy_test.go
  src/replication/ng/policy/manager_test.go
Labels: area/replication

#7113 Provide a null implementation for Harbor adapter
  .gitignore
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/replication.go
Labels: area/replication

#7096 Implement replication policy management API
  docs/swagger.yaml
  src/core/api/harborapi_test.go
  src/core/api/replication_execution_test.go
  src/core/api/replication_policy_ng.go
  src/core/api/replication_policy_ng_test.go
  src/core/router.go
  src/replication/ng/dao/policy.go
  src/replication/ng/dao/policy_test.go
  src/replication/ng/dao/registry.go
  src/replication/ng/model/policy.go
  src/replication/ng/model/registry.go
  src/replication/ng/policy/manager.go
  src/replication/ng/policy/manager_test.go
  src/replication/ng/registry/manager.go
  src/replication/ng/replication.go
Labels: area/replication

#7125 Update the job ID in flow controller
  src/replication/ng/flow/flow.go
  src/replication/ng/scheduler/scheduler.go
Labels: area/replication

#7132 Add execution and hooks
  make/migrations/postgresql/0004_1.8.0_schema.up.sql
  src/common/models/base.go
  src/core/api/models/execution.go
  src/core/api/replication_execution.go
  src/core/api/replication_execution_test.go
  src/core/api/replication_policy_ng.go
  src/core/router.go
  src/core/service/notifications/jobs/handler.go
  src/replication/ng/dao/base.go
  src/replication/ng/dao/dao_test.go
  src/replication/ng/dao/execution.go
  src/replication/ng/dao/execution_test.go
  src/replication/ng/dao/models/base.go
  src/replication/ng/dao/models/execution.go
  src/replication/ng/execution/execution.go
  src/replication/ng/execution/execution_test.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/flow/flow.go
  src/replication/ng/model/execution.go
  src/replication/ng/operation/controller.go
  src/replication/ng/operation/controller_test.go
Labels: area/replication

#7137 Add Harbor adapter for replication
  src/common/utils/registry/auth/tokenauthorizer.go
  src/core/api/replication_adapter_test.go
  src/core/api/replication_execution.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/execution/execution.go
  src/replication/ng/execution/execution_test.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/flow/flow.go
  src/replication/ng/replication.go
Labels: area/replication

#7045 Fix hostname command not found
  make/photon/db/Dockerfile
Labels: target/1.8.0

#7152 Fix bug in replication
  src/common/job/const.go
  src/core/api/replication_execution.go
  src/jobservice/job/impl/replication/ng/replication.go
  src/jobservice/runtime/bootstrap.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/flow/controller.go
  src/replication/ng/flow/flow.go
  src/replication/ng/replication.go
  src/replication/ng/scheduler/scheduler.go
  src/replication/ng/scheduler/scheduler_test.go
Labels: area/replication

#7154 Execution updateStatus logic upgrade
  src/replication/ng/dao/execution.go
  src/replication/ng/dao/execution_test.go
  src/replication/ng/dao/models/execution.go
  src/replication/ng/execution/execution_test.go
Labels: area/replication

#7172 List replication rules and executions page
  src/portal/lib/README.md
  src/portal/lib/src/confirmation-dialog/confirmation-dialog.component.html
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.spec.ts
  src/portal/lib/src/harbor-library.module.ts
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.html
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.scss
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.ts
  src/portal/lib/src/replication/index.ts
  src/portal/lib/src/replication/replication-tasks/replication-tasks.component.html
  src/portal/lib/src/replication/replication-tasks/replication-tasks.component.scss
  src/portal/lib/src/replication/replication-tasks/replication-tasks.component.ts
  src/portal/lib/src/replication/replication.component.html
  src/portal/lib/src/replication/replication.component.spec.ts
  src/portal/lib/src/replication/replication.component.ts
  src/portal/lib/src/service.config.ts
  src/portal/lib/src/service/endpoint.service.ts
  src/portal/lib/src/service/interface.ts
  src/portal/lib/src/service/job-log.service.spec.ts
  src/portal/lib/src/service/job-log.service.ts
  src/portal/lib/src/service/replication.service.spec.ts
  src/portal/lib/src/service/replication.service.ts
  src/portal/lib/src/shared/shared.const.ts
  src/portal/src/app/harbor-routing.module.ts
  src/portal/src/app/replication/replication-tasks-page/replication-tasks-page.component.html
  src/portal/src/app/replication/replication-tasks-page/replication-tasks-page.component.scss
  src/portal/src/app/replication/replication-tasks-page/replication-tasks-page.component.spec.ts
  src/portal/src/app/replication/replication-tasks-page/replication-tasks-page.component.ts
  src/portal/src/app/replication/replication.module.ts
  src/portal/src/app/shared/shared.module.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/replication

#7177 Merge create replication policy code
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.spec.ts
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.ts
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.html
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.scss
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.spec.ts
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.ts
  src/portal/lib/src/endpoint/endpoint.component.spec.ts
  src/portal/lib/src/endpoint/endpoint.component.ts
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.spec.ts
  src/portal/lib/src/replication/replication.component.spec.ts
  src/portal/lib/src/service/interface.ts
  src/portal/lib/src/service/replication.service.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/replication

#7178 Replicate helm charts
  src/common/http/client.go
  src/replication/ng/adapter/chart_registry.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/adapter/harbor/chart_registry.go
  src/replication/ng/adapter/harbor/image_registry.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/flow/flow.go
  src/replication/ng/transfer/chart/transfer.go
  src/replication/ng/transfer/repository/transfer_test.go
Labels: area/replication

#7179 Rigistry management
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.html
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.scss
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.spec.ts
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.ts
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.spec.ts
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.ts
  src/portal/lib/src/endpoint/endpoint.component.html
  src/portal/lib/src/endpoint/endpoint.component.scss
  src/portal/lib/src/endpoint/endpoint.component.spec.ts
  src/portal/lib/src/endpoint/endpoint.component.ts
  src/portal/lib/src/harbor-library.module.ts
  src/portal/lib/src/replication/replication.component.spec.ts
  src/portal/lib/src/service.config.ts
  src/portal/lib/src/service/endpoint.service.ts
  src/portal/lib/src/service/interface.ts
  src/portal/src/app/shared/shared.module.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/replication

#7183 Update listing/getting replication adapter API
  docs/swagger.yaml
  src/core/api/replication_adapter.go
  src/core/api/replication_adapter_test.go
  src/replication/ng/adapter/adapter.go
  src/replication/ng/adapter/adapter_test.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/flow/controller_test.go
  src/replication/ng/model/policy.go
  src/replication/ng/transfer/chart/transfer_test.go
Labels: area/replication

#7191 add validation message
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.html
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/replication

#7195 Fix bugs that adapters can't display
  src/portal/lib/src/service/endpoint.service.ts
Labels: area/replication

#7181 Cherry-pick global search fix to Release 1.7.0
  src/core/api/search.go
  src/core/api/search_test.go
  src/portal/src/app/base/global-search/search-result.component.html
  src/portal/src/app/base/global-search/search-result.component.ts
  src/portal/src/app/base/global-search/search-results.ts
  src/portal/src/app/project/list-project/list-project.component.html
  src/portal/src/app/project/list-project/list-project.component.ts
Labels: target/1.7.5

#7174 Remove user agent check for docker notifications -- Cherry pick to 1.7
  src/core/service/notifications/registry/handler.go
Labels: target/1.7.5

#7211 Implement deletion for image transter
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/flow/stage_test.go
  src/replication/ng/operation/controller.go
  src/replication/ng/transfer/chart/transfer.go
  src/replication/ng/transfer/repository/transfer.go
  src/replication/ng/transfer/repository/transfer_test.go
Labels: area/replication

#7213 Convert job status to replication task status
  src/core/service/notifications/jobs/handler.go
  src/replication/ng/hook/task.go
  src/replication/ng/hook/task_test.go
Labels: area/replication

#7220 Update the registry adapter interface
  docs/swagger.yaml
  src/core/api/harborapi_test.go
  src/core/api/registry.go
  src/core/api/replication_adapter.go
  src/core/api/replication_adapter_test.go
  src/core/router.go
  src/replication/ng/adapter/adapter.go
  src/replication/ng/adapter/adapter_test.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/flow/copy.go
  src/replication/ng/flow/stage.go
  src/replication/ng/flow/stage_test.go
  src/replication/ng/model/policy.go
  src/replication/ng/model/registry.go
  src/replication/ng/operation/controller.go
Labels: area/replication

#7227 add filter logic
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.html
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.scss
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.spec.ts
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.ts
  src/portal/lib/src/replication/replication.component.html
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/replication

#7248 Add event based trigger and scheduled trigger
  make/migrations/postgresql/0004_1.8.0_schema.up.sql
  src/common/dao/sqlite.go
  src/common/job/const.go
  src/core/api/replication_execution.go
  src/core/api/replication_execution_test.go
  src/core/api/replication_policy_ng.go
  src/core/api/replication_policy_ng_test.go
  src/core/router.go
  src/core/service/notifications/jobs/handler.go
  src/core/service/notifications/registry/handler.go
  src/jobservice/job/impl/scheduler/scheduler.go
  src/jobservice/runtime/bootstrap.go
  src/replication/ng/dao/dao_test.go
  src/replication/ng/dao/models/base.go
  src/replication/ng/dao/models/schedule_job.go
  src/replication/ng/dao/schedule_job.go
  src/replication/ng/dao/schedule_job_test.go
  src/replication/ng/event/event.go
  src/replication/ng/event/handler.go
  src/replication/ng/event/handler_test.go
  src/replication/ng/model/policy.go
  src/replication/ng/model/policy_test.go
  src/replication/ng/operation/scheduler/scheduler.go
  src/replication/ng/policy/controller.go
  src/replication/ng/policy/controller/controller.go
  src/replication/ng/policy/controller/controller_test.go
  src/replication/ng/policy/manager/manager.go
  src/replication/ng/policy/manager/manager_test.go
  src/replication/ng/policy/scheduler/scheduler.go
  src/replication/ng/policy/scheduler/scheduler_test.go
  src/replication/ng/policy/scheduler/status.go
  src/replication/ng/replication.go
  src/replication/ng/replication_test.go
Labels: area/replication

#7224 Refactor replication-task page according to the new design
  src/portal/lib/src/create-edit-rule/create-edit-rule.component.spec.ts
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.html
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.spec.ts
  src/portal/lib/src/list-replication-rule/list-replication-rule.component.ts
  src/portal/lib/src/replication/replication-tasks/replication-tasks.component.html
  src/portal/lib/src/replication/replication-tasks/replication-tasks.component.scss
  src/portal/lib/src/replication/replication-tasks/replication-tasks.component.ts
  src/portal/lib/src/replication/replication.component.html
  src/portal/lib/src/replication/replication.component.scss
  src/portal/lib/src/replication/replication.component.spec.ts
  src/portal/lib/src/service/replication.service.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/replication

#7254 Update the replication API
  docs/swagger.yaml
  src/core/api/harborapi_test.go
  src/core/api/replication_execution.go
  src/core/api/replication_execution_test.go
  src/core/api/replication_policy_ng.go
  src/core/api/replication_policy_ng_test.go
  src/core/router.go
  src/replication/ng/event/handler.go
  src/replication/ng/event/handler_test.go
  src/replication/ng/model/policy.go
  src/replication/ng/model/policy_test.go
  src/replication/ng/operation/controller.go
  src/replication/ng/operation/controller_test.go
  src/replication/ng/operation/flow/copy.go
  src/replication/ng/operation/flow/copy_test.go
  src/replication/ng/operation/flow/deletion.go
  src/replication/ng/operation/flow/deletion_test.go
  src/replication/ng/operation/flow/stage.go
  src/replication/ng/operation/flow/stage_test.go
  src/replication/ng/policy/manager/manager.go
  src/replication/ng/policy/manager/manager_test.go
  src/replication/ng/replication.go
Labels: area/replication
