Repository goharbor/harbor, pull requests merged in 2019-06, with the labels that each got.

#6783 Fix Swagger client generation for a few chartrepo endpoints
  docs/swagger.yaml
Labels: area/API, area/doc

#8030 Fix replication bug
  src/core/api/repository.go
  src/replication/transfer/image/transfer.go
Labels: area/replication, target/1.8.1

#8040 Fix replication bug
  src/core/api/repository.go
  src/replication/transfer/image/transfer.go
Labels: area/replication, target/1.8.1

#8032 Support label filter for replication
  src/replication/adapter/harbor/adapter.go
  src/replication/adapter/harbor/chart_registry.go
  src/replication/adapter/harbor/filter.go
  src/replication/adapter/harbor/filter_test.go
  src/replication/adapter/harbor/image_registry.go
  src/replication/adapter/image_registry.go
  src/replication/filter/filter.go
  src/replication/filter/filter_test.go
  src/replication/model/policy.go
  src/replication/model/registry.go
  src/replication/policy/manager/manager.go
Labels: area/replication

#7946 gcr driver for replication
  src/common/utils/registry/repository.go
  src/jobservice/job/impl/replication/replication.go
  src/replication/adapter/googlegcr/adapter.go
  src/replication/adapter/googlegcr/adapter_test.go
  src/replication/adapter/googlegcr/image_registry.go
  src/replication/model/registry.go
  src/replication/replication.go
Labels: area/replication
