Repository goharbor/harbor, pull requests merged in 2019-04, with the labels that each got.

#7262 Use the secret to auth the replication for local Harbor
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/config/config.go
  src/replication/ng/event/handler.go
  src/replication/ng/model/registry.go
  src/replication/ng/operation/controller.go
  src/replication/ng/operation/flow/controller.go
  src/replication/ng/operation/flow/controller_test.go
  src/replication/ng/operation/flow/copy.go
  src/replication/ng/operation/flow/copy_test.go
  src/replication/ng/operation/flow/deletion.go
  src/replication/ng/operation/flow/deletion_test.go
  src/replication/ng/operation/flow/stage.go
  src/replication/ng/operation/flow/stage_test.go
  src/replication/ng/replication.go
  src/replication/ng/transfer/repository/transfer.go
Labels: area/replication

#7269 Update the registry client to support pulling public images from docker hub without login
  src/common/utils/registry/auth/credential.go
Labels: area/replication

#7270 Provide a util function to return a common HTTP transport
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/operation/scheduler/scheduler.go
  src/replication/ng/registry/manager.go
  src/replication/ng/util/util.go
  src/replication/ng/util/util_test.go
Labels: area/replication

#7268 Fix: clair env file should using empty string is not exist
  make/photon/prepare/utils/configs.py
Labels: kind/bug

#7291 Handle registry with empty credential
  src/core/api/registry.go
  src/replication/ng/registry/manager.go
Labels: area/replication

#7298 Stop a replication execution
  src/replication/ng/operation/controller.go
  src/replication/ng/operation/controller_test.go
  src/replication/ng/policy/manager/manager.go
Labels: area/replication

#7301 Filter the events triggerred by replication
  src/core/service/notifications/registry/handler.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/adapter/image_registry.go
Labels: area/replication

#7310 Upgrade the registry and replication policy tables
  make/migrations/postgresql/0004_1.8.0_schema.up.sql
  src/common/dao/dao_test.go
  src/replication/ng/dao/models/policy.go
  src/replication/ng/policy/manager/manager.go
Labels: area/replication

#7307 Wait randomly before registry health checking
  src/core/api/registry_test.go
  src/core/main.go
  src/replication/ng/registry/healthcheck.go
  src/replication/ng/replication.go
  src/replication/ng/replication_test.go
Labels: area/replication

#7289 Add registry ping API
  docs/swagger.yaml
  src/common/utils/registry/registry.go
  src/core/api/harborapi_test.go
  src/core/api/registry.go
  src/core/api/registry_test.go
  src/core/router.go
  src/replication/ng/adapter/adapter.go
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/model/registry.go
  src/replication/ng/operation/controller_test.go
  src/replication/ng/operation/flow/stage_test.go
  src/replication/ng/registry/manager.go
Labels: area/replication

#7318 Upgrade the replication_job table
  make/migrations/postgresql/0004_1.8.0_schema.up.sql
  src/common/dao/dao_test.go
  src/replication/ng/dao/dao_test.go
  src/replication/ng/dao/execution.go
Labels: area/replication

#7321 Add unit test cases for Harbor adapter
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/adapter/harbor/adapter_test.go
  src/replication/ng/adapter/harbor/chart_registry_test.go
  src/replication/ng/adapter/harbor/image_registry_test.go
  src/replication/ng/model/registry.go
Labels: area/replication

#7327 Handle the policy from previous versions
  src/core/api/replication_execution.go
  src/core/api/replication_execution_test.go
  src/replication/ng/dao/models/execution.go
  src/replication/ng/event/handler_test.go
  src/replication/ng/model/policy.go
  src/replication/ng/operation/controller.go
  src/replication/ng/operation/hook/task_test.go
  src/replication/ng/policy/manager/manager.go
  src/replication/ng/policy/manager/manager_test.go
Labels: area/replication

#7163 huawei cloud registry adapter for replication
  src/replication/ng/adapter/huawei/huawei_adapter.go
  src/replication/ng/adapter/huawei/huawei_adapter_test.go
  src/replication/ng/adapter/huawei/image_registry.go
  src/replication/ng/adapter/huawei/image_registry_test.go
Labels: area/replication

#7357 Add filter support when fetching resources for Harbor adapter
  src/replication/ng/adapter/harbor/chart_registry.go
  src/replication/ng/adapter/harbor/filter.go
  src/replication/ng/adapter/harbor/filter_test.go
  src/replication/ng/adapter/harbor/image_registry.go
  src/replication/ng/transfer/repository/transfer.go
Labels: area/replication

#7360 Remove the E2E test cases for replication
  .travis.yml
  src/replication/ng/replication.go
  tests/robot-cases/Group0-BAT/API_DB.robot
Labels: area/replication

#7127 Implement dockerhub adapter
  src/jobservice/job/impl/replication/ng/replication.go
  src/replication/ng/adapter/dockerhub/adapter.go
  src/replication/ng/adapter/dockerhub/adapter_test.go
  src/replication/ng/adapter/dockerhub/client.go
  src/replication/ng/adapter/dockerhub/consts.go
  src/replication/ng/adapter/dockerhub/types.go
  src/replication/ng/adapter/harbor/adapter.go
  src/replication/ng/model/namespace.go
  src/replication/ng/model/registry.go
  src/replication/ng/operation/flow/copy.go
  src/replication/ng/operation/flow/deletion.go
  src/replication/ng/operation/flow/stage.go
  src/replication/ng/replication.go
  src/testing/job/mock_client.go
Labels: area/replication

#7333 Check health status when add registry
  src/core/api/registry.go
  src/core/api/registry_test.go
Labels: area/replication

#7255 Implement native docker registry.
  src/jobservice/job/impl/replication/ng/replication.go
  src/replication/ng/adapter/image_registry.go
  src/replication/ng/adapter/native/adapter.go
  src/replication/ng/adapter/native/image_registry.go
  src/replication/ng/replication.go
Labels: area/replication

#7331 Correct some typos and do some small adjustments
  src/core/api/replication_policy_ng.go
  src/replication/ng/operation/controller.go
  src/replication/ng/operation/flow/stage.go
Labels: area/replication

#7380 Support anonymous access to dockerhub
  src/replication/adapter/dockerhub/adapter.go
  src/replication/adapter/dockerhub/client.go
  src/replication/adapter/image_registry.go
Labels: area/replication

#7414 Optimizing native adapter
  src/replication/adapter/native/image_registry.go
  src/replication/adapter/native/image_registry_test.go
Labels: area/replication

#7421 Fix create ns failure in DockerHub
  src/replication/adapter/dockerhub/adapter.go
  src/replication/adapter/dockerhub/client.go
Labels: area/replication

#7422 Dockerhub delete image
  src/replication/adapter/dockerhub/adapter.go
  src/replication/adapter/dockerhub/consts.go
Labels: area/replication

#7444 IsSpecificRepositoryName
  src/replication/adapter/native/adapter_test.go
  src/replication/adapter/native/image_registry.go
  src/replication/adapter/native/image_registry_test.go
  src/replication/util/util.go
  src/replication/util/util_test.go
Labels: area/replication

#7483 Fix bug: cannot update the registry
  src/replication/registry/manager.go
Labels: area/replication

#7470 Fix replication bugs
  src/core/api/registry.go
  src/replication/adapter/harbor/adapter.go
  src/replication/adapter/harbor/adapter_test.go
  src/replication/model/policy.go
  src/replication/model/policy_test.go
  src/replication/util/util.go
  src/replication/util/util_test.go
Labels: area/replication

#7460 Fix bug found in replication
  src/replication/adapter/dockerhub/adapter.go
  src/replication/operation/controller.go
  src/replication/operation/controller_test.go
  src/replication/operation/flow/copy.go
  src/replication/operation/flow/deletion.go
  src/replication/operation/flow/deletion_test.go
  src/replication/operation/flow/stage.go
  src/replication/operation/flow/stage_test.go
Labels: area/replication

#7498 Support replicate public repositories from Docker Hub
  src/common/utils/registry/auth/credential.go
  src/replication/adapter/dockerhub/adapter.go
  src/replication/adapter/dockerhub/adapter_test.go
  src/replication/adapter/harbor/adapter.go
  src/replication/adapter/harbor/chart_registry.go
  src/replication/adapter/harbor/image_registry.go
  src/replication/adapter/image_registry.go
  src/replication/adapter/native/image_registry.go
  src/replication/util/pattern.go
  src/replication/util/pattern_test.go
  src/replication/util/util.go
  src/replication/util/util_test.go
Labels: area/replication

#7456 fix a small issue, that if there is no manifest in huawei image repos…
  src/replication/adapter/huawei/image_registry.go
Labels: area/replication, target/1.8.0

#7583 Don't fail the process when one tag replication failed
  src/replication/adapter/harbor/adapter.go
  src/replication/adapter/image_registry.go
  src/replication/config/config.go
  src/replication/dao/execution.go
  src/replication/dao/execution_test.go
  src/replication/dao/models/execution.go
  src/replication/event/handler.go
  src/replication/model/registry.go
  src/replication/operation/execution/execution_test.go
  src/replication/operation/flow/stage.go
  src/replication/operation/flow/stage_test.go
  src/replication/replication.go
  src/replication/transfer/image/transfer.go
Labels: area/replication, target/1.8.0

#7522 Return immediately after creating the execution record when starting the replication
  src/replication/operation/controller.go
  src/replication/operation/controller_test.go
Labels: area/replication, target/1.8.0

#7591 Fix cannot load external configs of database
  make/photon/prepare/utils/configs.py
Labels: area/configuration, kind/bug, target/1.8.0

#7503 Check the task status of execution whose status is running when deleting the policy
  src/core/api/replication_policy.go
Labels: area/replication, target/1.8.0
