Repository goharbor/harbor, pull requests merged in 2019-07, with the labels that each got.

#8141 Fix migration script to support exeternal db
  tools/migration/cfg/migrator_1_8_0/__init__.py
  tools/migration/cfg/migrator_1_8_0/harbor.yml.jinja
Labels: target/1.8.2

#8275 refactor the processor interface
  src/pkg/retention/policy/alg/index.go
  src/pkg/retention/policy/alg/or/processor.go
  src/pkg/retention/policy/alg/or/processor_test.go
  src/pkg/retention/policy/alg/processor.go
  src/pkg/retention/policy/builder.go
Labels: area/tag-retention

#8260 Implement the launcher
  src/core/api/chart_repository.go
  src/pkg/project/manager.go
  src/pkg/repository/manager.go
  src/pkg/retention/client.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/models.go
  src/pkg/retention/policy/models.go
  src/pkg/retention/policy/rule/models.go
  src/pkg/retention/res/candidate.go
Labels: area/tag-retention

#8291 Reload OIDC provider older than 3 seconds -- cherrypick
  src/common/utils/oidc/helper.go
  src/common/utils/oidc/helper_test.go
Labels: target/1.8.2

#8255 Retention: Implement Filter: Keep Latest K
  src/pkg/retention/policy/rule/latestk/evaluator.go
  src/pkg/retention/policy/rule/latestk/evaluator_test.go
Labels: area/tag-retention

#8256 Retention: Implement Evaluator: Retain if created less than x days ago
  src/pkg/retention/policy/rule/lastx/evaluator.go
  src/pkg/retention/policy/rule/lastx/evaluator_test.go
Labels: area/tag-retention

#8239 fix replication dockerhub skip tls
  src/replication/adapter/dockerhub/client.go
Labels: area/replication

#8302 Implement the retention client
  src/core/api/harborapi_test.go
  src/core/api/repository.go
  src/core/api/repository_test.go
  src/jobservice/job/known_jobs.go
  src/pkg/clients/core/chart.go
  src/pkg/clients/core/client.go
  src/pkg/clients/core/image.go
  src/pkg/retention/client.go
  src/pkg/retention/client_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/models.go
  src/pkg/retention/policy/models.go
  src/testing/clients/dumb_core_client.go
Labels: area/tag-retention

#8317 implement label and regexp selectors
  src/pkg/retention/launcher_test.go
  src/pkg/retention/policy/alg/or/processor_test.go
  src/pkg/retention/res/selectors/doublestar/selector.go
  src/pkg/retention/res/selectors/doublestar/selector_test.go
  src/pkg/retention/res/selectors/label/selector.go
  src/pkg/retention/res/selectors/label/selector_test.go
  src/pkg/retention/res/selectors/regexp/selector.go
Labels: area/tag-retention

#8289 Retention: Implement Evaluator: Keep N Most Recently Pulled
  src/pkg/retention/policy/rule/lastpulled/evaluator.go
  src/pkg/retention/policy/rule/lastpulled/evaluator_test.go
Labels: area/tag-retention

#8321 Retention: Implement Evaluator: Retain Latest K 'Active'
  src/pkg/retention/policy/rule/latest/evaluator.go
  src/pkg/retention/policy/rule/latest/evaluator_test.go
Labels: area/tag-retention

#8329 Add user group when http auth mode
  src/portal/lib/src/index.ts
  src/portal/lib/src/service/interface.ts
  src/portal/lib/src/shared/shared.const.ts
  src/portal/src/app/app-config.service.ts
  src/portal/src/app/base/harbor-shell/harbor-shell.component.html
  src/portal/src/app/base/harbor-shell/harbor-shell.component.ts
  src/portal/src/app/group/add-group-modal/add-group-modal.component.html
  src/portal/src/app/group/add-group-modal/add-group-modal.component.ts
  src/portal/src/app/group/group.component.html
  src/portal/src/app/group/group.component.ts
  src/portal/src/app/group/group.ts
  src/portal/src/app/project/member/add-group/add-group.component.ts
  src/portal/src/app/project/member/add-http-auth-group/add-http-auth-group.component.html
  src/portal/src/app/project/member/add-http-auth-group/add-http-auth-group.component.scss
  src/portal/src/app/project/member/add-http-auth-group/add-http-auth-group.component.spec.ts
  src/portal/src/app/project/member/add-http-auth-group/add-http-auth-group.component.ts
  src/portal/src/app/project/member/member.component.html
  src/portal/src/app/project/member/member.component.ts
  src/portal/src/app/project/project.module.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: target/1.8.2

#8353 Make jobservice use the proxy env variables (including no_proxy)
  src/jobservice/hook/hook_client.go
Labels: area/job-services

#8357 Retention: Implement Rule: Always Keep
  src/pkg/retention/policy/rule/always/evaluator.go
  src/pkg/retention/policy/rule/always/evaluator_test.go
Labels: area/tag-retention

#8246 Fix: Internal server error with messy code when chartmuseum not work
  src/chartserver/client.go
  src/chartserver/handler_manipulation.go
  src/common/api/base.go
  src/core/api/base.go
  src/core/api/project.go
Labels: target/1.9.0

#8356 add missing UT cases for index and builder components
  src/pkg/retention/policy/action/index_test.go
  src/pkg/retention/policy/builder_test.go
  src/pkg/retention/policy/rule/index_test.go
Labels: area/tag-retention

#8367 support stop in the retention job and register it
  src/jobservice/runtime/bootstrap.go
  src/pkg/retention/job.go
Labels: area/tag-retention

#8352 Implement a common scheduler
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/common/job/client.go
  src/core/api/base.go
  src/core/main.go
  src/core/router.go
  src/core/service/notifications/scheduler/handler.go
  src/jobservice/runtime/bootstrap.go
  src/pkg/scheduler/dao/schedule.go
  src/pkg/scheduler/dao/schedule_test.go
  src/pkg/scheduler/hook/handler.go
  src/pkg/scheduler/hook/handler_test.go
  src/pkg/scheduler/manager.go
  src/pkg/scheduler/manager_test.go
  src/pkg/scheduler/model/schedule.go
  src/pkg/scheduler/periodic_job.go
  src/pkg/scheduler/scheduler.go
  src/pkg/scheduler/scheduler_test.go
  src/testing/job/mock_client.go
  src/testing/scheduler.go
Labels: area/tag-retention

#8366 Implement the task management in retention manager
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/pkg/retention/controllers/retention.go
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/q/query.go
Labels: area/tag-retention

#8377 print rich logs in the retention job
  src/go.mod
  src/go.sum
  src/pkg/retention/job.go
  src/pkg/retention/job_test.go
  src/vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  src/vendor/github.com/aws/aws-sdk-go/aws/request/connection_reset_error.go
  src/vendor/github.com/aws/aws-sdk-go/aws/request/connection_reset_error_other.go
  src/vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  src/vendor/github.com/aws/aws-sdk-go/aws/types.go
  src/vendor/github.com/aws/aws-sdk-go/aws/version.go
  src/vendor/github.com/aws/aws-sdk-go/internal/ini/ini_parser.go
  src/vendor/github.com/aws/aws-sdk-go/service/ecr/api.go
  src/vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  src/vendor/github.com/aws/aws-sdk-go/service/sts/doc.go
  src/vendor/github.com/mattn/go-runewidth/.travis.yml
  src/vendor/github.com/mattn/go-runewidth/LICENSE
  src/vendor/github.com/mattn/go-runewidth/README.mkd
  src/vendor/github.com/mattn/go-runewidth/runewidth.go
  src/vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  src/vendor/github.com/mattn/go-runewidth/runewidth_js.go
  src/vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  src/vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  src/vendor/github.com/olekukonko/tablewriter/.gitignore
  src/vendor/github.com/olekukonko/tablewriter/.travis.yml
  src/vendor/github.com/olekukonko/tablewriter/LICENSE.md
  src/vendor/github.com/olekukonko/tablewriter/README.md
  src/vendor/github.com/olekukonko/tablewriter/csv.go
  src/vendor/github.com/olekukonko/tablewriter/table.go
  src/vendor/github.com/olekukonko/tablewriter/table_with_color.go
  src/vendor/github.com/olekukonko/tablewriter/util.go
  src/vendor/github.com/olekukonko/tablewriter/wrap.go
  src/vendor/modules.txt
Labels: area/tag-retention

#8134 refactor: adjust some logic in huawei adapter
  src/replication/adapter/huawei/huawei_adapter.go
  src/replication/adapter/huawei/image_registry.go
  src/replication/adapter/huawei/image_registry_test.go
Labels: area/replication, enhancement

#8383 Create retention client with the configurations got from jobservice config
  src/jobservice/config/config.go
  src/jobservice/config/config_test.go
  src/jobservice/main.go
  src/pkg/retention/boot.go
  src/pkg/retention/dep/client.go
  src/pkg/retention/dep/client_test.go
  src/pkg/retention/job.go
  src/pkg/retention/job_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
Labels: area/tag-retention

#8385 Implement the webhook handler for retention task
  src/core/router.go
  src/core/service/notifications/jobs/handler.go
Labels: area/tag-retention

#8244 Support helm chart replication from helmhub
  src/replication/adapter/helmhub/adapter.go
  src/replication/adapter/helmhub/adapter_test.go
  src/replication/adapter/helmhub/chart.go
  src/replication/adapter/helmhub/chart_registry.go
  src/replication/adapter/helmhub/chart_registry_test.go
  src/replication/adapter/helmhub/client.go
  src/replication/adapter/helmhub/consts.go
  src/replication/model/registry.go
Labels: area/replication

#8396 support dry run of retention
  src/core/api/base.go
  src/core/main.go
  src/pkg/retention/boot.go
  src/pkg/retention/controller.go
  src/pkg/retention/dep/client.go
  src/pkg/retention/job.go
  src/pkg/retention/job_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/policy/action/index.go
  src/pkg/retention/policy/action/index_test.go
  src/pkg/retention/policy/action/performer.go
  src/pkg/retention/policy/alg/or/processor_test.go
  src/pkg/retention/policy/builder.go
  src/pkg/retention/policy/builder_test.go
  src/pkg/retention/policy/rule/latestpull/evaluator.go
Labels: area/tag-retention

#8400 Support to stop one execution of retention
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/core/service/notifications/jobs/handler.go
  src/pkg/retention/controller.go
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/job.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/models.go
Labels: area/tag-retention

#8418 Implement getting the retention task log
  src/pkg/retention/dao/retention.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
Labels: area/tag-retention

#8406 add ut for tag retention controller
  src/core/api/base.go
  src/core/api/harborapi_test.go
  src/core/api/retention.go
  src/core/api/retention_test.go
  src/pkg/retention/controller.go
  src/pkg/retention/controller_test.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
  src/pkg/retention/policy/models.go
Labels: area/tag-retention

#8434 Fix bugs found in running the retention workflow
  src/pkg/retention/job.go
  src/pkg/retention/job_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/policy/lwp/models.go
  src/pkg/retention/res/candidate.go
  src/pkg/retention/res/selectors/doublestar/selector.go
  src/pkg/retention/res/selectors/index.go
Labels: area/tag-retention

#8429 Only listing chart repositories when chart server is enabled
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
Labels: area/tag-retention

#8436 Improve awsecr parseRegion method.
  src/replication/adapter/awsecr/adapter.go
  src/replication/adapter/awsecr/adapter_test.go
Labels: area/replication

#8444 get execution status on the fly
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/core/api/retention.go
  src/pkg/retention/controller.go
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
Labels: area/tag-retention

#8451 Add property "repository" to retention task
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/launcher.go
  src/pkg/retention/manager.go
  src/pkg/retention/models.go
Labels: area/tag-retention

#8445 refactor index registering processes
  src/core/api/retention.go
  src/pkg/retention/controller.go
  src/pkg/retention/job.go
  src/pkg/retention/job_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
  src/pkg/retention/policy/action/index/index.go
  src/pkg/retention/policy/action/index/index_test.go
  src/pkg/retention/policy/action/performer.go
  src/pkg/retention/policy/alg/index/index.go
  src/pkg/retention/policy/alg/or/processor.go
  src/pkg/retention/policy/alg/or/processor_test.go
  src/pkg/retention/policy/builder.go
  src/pkg/retention/policy/builder_test.go
  src/pkg/retention/policy/lwp/models.go
  src/pkg/retention/policy/rule/always/evaluator.go
  src/pkg/retention/policy/rule/index/index.go
  src/pkg/retention/policy/rule/index/index_test.go
  src/pkg/retention/policy/rule/lastx/evaluator.go
  src/pkg/retention/policy/rule/latest/evaluator_test.go
  src/pkg/retention/policy/rule/latestk/evaluator.go
  src/pkg/retention/policy/rule/latestk/evaluator_test.go
  src/pkg/retention/policy/rule/latestpl/evaluator.go
  src/pkg/retention/policy/rule/latestpl/evaluator_test.go
  src/pkg/retention/policy/rule/latestps/evaluator.go
  src/pkg/retention/policy/rule/latestps/evaluator_test.go
  src/pkg/retention/res/candidate.go
  src/pkg/retention/res/selectors/index/index.go
  src/pkg/retention/res/selectors/label/selector.go
Labels: area/tag-retention

#8456 Register the scheduler job and fix bugs
  src/core/main.go
  src/jobservice/runtime/bootstrap.go
  src/pkg/retention/launcher.go
Labels: area/tag-retention

#8457 fix tag retention api bug
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/policy/models.go
Labels: area/tag-retention

#8392 add tag-retention tab to project detail
  src/portal/lib/src/project-policy-config/project-policy-config.component.spec.ts
  src/portal/lib/src/project-policy-config/project-policy-config.component.ts
  src/portal/lib/src/service/permission-static.ts
  src/portal/src/app/harbor-routing.module.ts
  src/portal/src/app/project/project-detail/project-detail.component.html
  src/portal/src/app/project/project-detail/project-detail.component.ts
  src/portal/src/app/project/project.module.ts
  src/portal/src/app/project/project.ts
  src/portal/src/app/project/tag-retention/add-rule/add-rule.component.html
  src/portal/src/app/project/tag-retention/add-rule/add-rule.component.scss
  src/portal/src/app/project/tag-retention/add-rule/add-rule.component.ts
  src/portal/src/app/project/tag-retention/retention.ts
  src/portal/src/app/project/tag-retention/tag-retention.component.html
  src/portal/src/app/project/tag-retention/tag-retention.component.scss
  src/portal/src/app/project/tag-retention/tag-retention.component.ts
  src/portal/src/app/project/tag-retention/tag-retention.service.ts
  src/portal/src/app/user/user.service.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/tag-retention, area/ui

#8475 add retention job for deleting repository
  src/jobservice/job/known_jobs.go
  src/jobservice/runtime/bootstrap.go
  src/pkg/retention/dep/client.go
  src/pkg/retention/job.go
  src/pkg/retention/job_del_repo.go
  src/pkg/retention/job_del_repo_test.go
  src/pkg/retention/job_test.go
  src/pkg/retention/policy/action/index/index.go
  src/pkg/retention/policy/action/index/index_test.go
  src/pkg/retention/policy/action/performer_test.go
  src/pkg/retention/policy/alg/index/index.go
  src/pkg/retention/policy/alg/or/processor_test.go
  src/pkg/retention/policy/builder_test.go
  src/pkg/retention/policy/lwp/models.go
Labels: area/tag-retention

#8425 Fix #8319, got error when replicating image with Azure container registry
  src/common/models/token.go
  src/common/utils/registry/auth/tokenauthorizer.go
  src/common/utils/registry/auth/util.go
  src/replication/adapter/azurecr/adapter.go
  src/replication/adapter/azurecr/adapter_test.go
  src/replication/adapter/dockerhub/adapter.go
  src/replication/adapter/dockerhub/adapter_test.go
  src/replication/adapter/googlegcr/adapter.go
Labels: area/replication

#8490 Register the replication adapter for Helm Hub
  src/jobservice/job/impl/replication/replication.go
  src/replication/replication.go
Labels: area/replication

#8488 Refactor retention launcher
  src/pkg/clients/core/chart.go
  src/pkg/clients/core/client.go
  src/pkg/clients/core/image.go
  src/pkg/retention/controller_test.go
  src/pkg/retention/dep/client.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
  src/testing/clients/dumb_core_client.go
Labels: area/tag-retention

#8487 fix tag_retention bug
  src/pkg/retention/controller.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
Labels: area/tag-retention

#8505 fix bug: dry run is missing when deleting ropo
  src/pkg/retention/job_del_repo.go
Labels: area/replication

#8509 Fix retention bug
  src/pkg/retention/launcher.go
Labels: area/tag-retention
