Repository goharbor/harbor, pull requests merged in 2019-08, with the labels that each got.

#8541 Remove the retention job for deleting repository
  src/jobservice/job/known_jobs.go
  src/jobservice/runtime/bootstrap.go
  src/pkg/retention/job_del_repo.go
  src/pkg/retention/job_del_repo_test.go
  src/pkg/retention/launcher.go
Labels: area/tag-retention

#8504 fix bug #8499: redis connection pool is run out
  src/jobservice/migration/manager_test.go
  src/jobservice/migration/migrator_v180.go
  src/jobservice/runtime/bootstrap.go
Labels: area/job-services

#8500 fix bug #8499: redis connection pool is run out
  src/jobservice/migration/manager_test.go
  src/jobservice/migration/migrator_v180.go
  src/jobservice/runtime/bootstrap.go
Labels: area/job-services

#8561 remove rule always
  src/core/api/retention.go
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/tag-retention

#8529 add disable rule feature for tag retention
  src/pkg/retention/controller_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/policy/rule/models.go
Labels: area/tag-retention

#8562 retain nothing rule
  src/core/api/retention.go
  src/pkg/retention/policy/rule/index/index.go
  src/pkg/retention/policy/rule/index/index_test.go
  src/pkg/retention/policy/rule/nothing/evaluator.go
  src/pkg/retention/policy/rule/nothing/evaluator_test.go
Labels: area/tag-retention

#8581 Comment the related code for chart retention
  src/pkg/retention/dep/client.go
  src/pkg/retention/dep/client_test.go
  src/pkg/retention/launcher.go
  src/pkg/retention/launcher_test.go
Labels: area/tag-retention

#8575 Ignore the arguments when logging the job detail
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services, target/1.9.0

#8551 Retention: New Evaluator: Pulled within the last N Days
  src/core/api/retention.go
  src/pkg/retention/policy/rule/dayspl/evaluator.go
  src/pkg/retention/policy/rule/dayspl/evaluator_test.go
  src/pkg/retention/policy/rule/index/index.go
  src/pkg/retention/policy/rule/index/index_test.go
Labels: area/tag-retention

#8571 Populate pull/push time properties to the returning data when listing tags
  src/common/dao/artifact.go
  src/common/dao/artifact_test.go
  src/common/models/repo.go
  src/core/api/repository.go
  src/pkg/retention/dep/client.go
Labels: area/tag-retention

#8576 Fixes #8281, only show one tag in the task list to decrease the length of string
  src/replication/operation/flow/stage.go
Labels: area/replication, target/1.9.0

#8536 add task retain num
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/core/service/notifications/jobs/handler.go
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/job.go
  src/pkg/retention/manager.go
  src/pkg/retention/models.go
  src/portal/package-lock.json
Labels: area/tag-retention

#8514 Replication performance
  src/common/utils/passports.go
  src/replication/adapter/adapter.go
  src/replication/adapter/aliacr/adapter.go
  src/replication/adapter/dockerhub/adapter.go
  src/replication/adapter/harbor/image_registry.go
  src/replication/adapter/native/adapter.go
Labels: area/replication

#8591 fix issue and add new templats for tag-retention
  src/portal/src/app/project/tag-retention/add-rule/add-rule.component.html
  src/portal/src/app/project/tag-retention/add-rule/add-rule.component.ts
  src/portal/src/app/project/tag-retention/tag-retention.service.ts
  src/portal/src/i18n/lang/en-us-lang.json
  src/portal/src/i18n/lang/es-es-lang.json
  src/portal/src/i18n/lang/fr-fr-lang.json
  src/portal/src/i18n/lang/pt-br-lang.json
  src/portal/src/i18n/lang/zh-cn-lang.json
Labels: area/tag-retention

#8609 Only replicate "public" metadata when creating project in Harbor
  src/replication/adapter/harbor/adapter.go
  src/replication/adapter/harbor/adapter_test.go
Labels: area/replication, target/1.9.0

#8594 Fix bug in Helm Hub and Harbor adapter for replicating chart
  src/replication/adapter/harbor/chart_registry.go
  src/replication/adapter/harbor/chart_registry_test.go
  src/replication/adapter/helmhub/chart_registry.go
Labels: area/replication, target/1.9.0

#8472 Proxy
  make/harbor.yml
  make/photon/prepare/templates/clair/clair_env.jinja
  make/photon/prepare/templates/core/env.jinja
  make/photon/prepare/templates/jobservice/env.jinja
  make/photon/prepare/utils/configs.py
Labels: area/replication, target/1.9.0

#8606 Fix replication tasks stuck in "InProgress" issue
  src/common/dao/base.go
  src/common/dao/pro_meta.go
  src/common/dao/project.go
  src/common/dao/quota.go
  src/common/dao/quota_usage.go
  src/common/dao/repository.go
  src/core/service/notifications/jobs/handler.go
  src/replication/dao/execution.go
  src/replication/operation/controller.go
  src/replication/operation/controller_test.go
  src/replication/operation/execution/execution.go
  src/replication/operation/hook/task.go
Labels: area/replication, target/1.9.0

#8653 Close <a> tag in error template
  src/core/views/404.tpl
Labels: area/ui

#8661 Fix bug in native replication adapter
  src/replication/adapter/native/adapter.go
Labels: area/replication, target/1.9.0

#8651 remove tag retention rule always
  src/core/api/retention.go
Labels: area/tag-retention

#7462 List simple tags when detail set to false
  docs/swagger.yaml
  src/core/api/repository.go
  src/portal/lib/src/service/tag.service.ts
Labels: target/1.9.0

#8646 use fix root CA for test
  tests/generateCerts.sh
  tests/harbor_ca.crt
  tests/harbor_ca.key
  tests/harbor_ca.srl
  tests/travis/api_common_install.sh
Labels: area/installation, enhancement

#8378 Search for LDAP_MATCHING_RULE_IN_CHAIN groups
  src/common/utils/ldap/ldap.go
Labels: area/ldap

#8715 fix tag retention schedule none error
  src/pkg/retention/controller.go
Labels: area/tag-retention

#8259 fix typos in prepare script
  make/prepare
Labels: area/installation

#8714 Fix bug found in scheduler
  src/core/api/base.go
  src/core/service/notifications/scheduler/handler.go
  src/pkg/scheduler/scheduler.go
Labels: area/tag-retention, target/1.9.0

#8733 Fix bug of listing tags filtered by label
  src/core/api/repository.go
Labels: target/1.9.0

#8708 fix rule conflict, id error
  src/core/api/retention.go
Labels: area/tag-retention

#8675 Handle the retention task status updating in concurrency
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/core/service/notifications/jobs/handler.go
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
  src/pkg/retention/models.go
Labels: area/tag-retention, target/1.9.0

#8751 fix #8745: job retry issue
  src/jobservice/job/impl/sample/job.go
  src/jobservice/job/models.go
  src/jobservice/job/tracker.go
  src/jobservice/runner/redis.go
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services

#7998 Add Turkish Language
  src/portal/src/app/app.module.ts
  src/portal/src/app/base/navigator/navigator.component.html
  src/portal/src/app/shared/shared.const.ts
  src/portal/src/i18n/lang/tr-tr-lang.json
Labels: area/i18n

#8761 [Cherry-pick] fix #8745: job retry issue
  src/jobservice/job/impl/sample/job.go
  src/jobservice/job/models.go
  src/jobservice/job/tracker.go
  src/jobservice/runner/redis.go
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services

#8634 Fix the swagger API definition
  docs/swagger.yaml
Labels: area/API

#8767 fix #8525: periodic job retry issue: job stats are not found
  src/jobservice/period/enqueuer.go
  src/jobservice/runner/redis.go
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services

#8763 remove rule none and change rule order
  src/core/api/retention.go
  src/pkg/retention/controller_test.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/job_test.go
  src/pkg/retention/manager_test.go
  src/pkg/retention/policy/models.go
  src/pkg/retention/policy/rule/index/index.go
  src/pkg/retention/policy/rule/index/index_test.go
  src/pkg/retention/policy/rule/models.go
  src/pkg/retention/res/selectors/index/index.go
Labels: area/tag-retention, target/1.9.0

#8774 fix(build): install tzdata pkg for core and jobservice images
  make/photon/core/Dockerfile
  make/photon/jobservice/Dockerfile
Labels: target/1.9.0

#8780 [CHERRY-PICK] fix #8525: periodic job retry issue: job stats is not found
  src/jobservice/period/enqueuer.go
  src/jobservice/runner/redis.go
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services

#8792 reduce the expire time of job stats in redis DB
  src/jobservice/job/tracker.go
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services

#8795 [CHERRY-PICK] reduce the expire time of job stats in redis DB
  src/jobservice/job/tracker.go
  src/jobservice/worker/cworker/c_worker.go
Labels: area/job-services

#8794 Add status revision to retention task to handle retrying
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/core/service/notifications/jobs/handler.go
  src/pkg/retention/dao/models/retention.go
  src/pkg/retention/dao/retention.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/launcher_test.go
  src/pkg/retention/manager.go
  src/pkg/retention/manager_test.go
  src/pkg/retention/models.go
Labels: area/tag-retention, target/1.9.0

#8788 add tag retention model test
  src/core/api/retention_test.go
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/policy/models.go
  src/pkg/retention/policy/models_test.go
  src/pkg/retention/policy/rule/models.go
Labels: area/tag-retention, target/1.9.0

#8812 fix tag retention model verify
  src/pkg/retention/policy/rule/models.go
Labels: area/tag-retention, target/1.9.0

#8818 fix rule logic bug described in #8817
  src/pkg/retention/policy/rule/latestps/evaluator.go
Labels: area/tag-retention

#8819 fix #8815 :add remove untagged blob record in table project_blob
  src/common/dao/project_blob.go
  src/common/dao/project_blob_test.go
  src/jobservice/job/impl/gc/job.go
Labels: target/1.9.0

#8836 Revise quota errors to make it more readable
  docs/swagger.yaml
  src/common/quota/errors.go
  src/core/api/repository.go
  src/core/middlewares/chart/handler.go
  src/core/middlewares/countquota/handler.go
  src/core/middlewares/sizequota/handler.go
Labels: target/1.9.0

#8841 fix #8839: update bolb size type to bigint
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
Labels: target/1.9.0

#7872 Config idle timeout for redis pool to avoid jobservice restarting
  make/photon/prepare/templates/jobservice/config.yml.jinja
  src/jobservice/config/config.go
  src/jobservice/runtime/bootstrap.go
Labels: area/job-services, target/1.9.0

#8787 Fix core hung when stop problem
  src/core/api/registry_test.go
  src/core/main.go
  src/replication/registry/healthcheck.go
  src/replication/replication.go
  src/replication/replication_test.go
Labels: target/1.9.0

#8796 [Cherry-pick]Set content length when pushing blobs
  src/common/utils/registry/repository.go
Labels: target/1.8.3

#8829 Add status revision to handle retrying in replication task
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/core/api/replication_execution_test.go
  src/core/api/replication_policy.go
  src/core/service/notifications/jobs/handler.go
  src/replication/dao/execution.go
  src/replication/dao/execution_test.go
  src/replication/dao/models/execution.go
  src/replication/event/handler_test.go
  src/replication/operation/controller.go
  src/replication/operation/controller_test.go
  src/replication/operation/execution/execution.go
  src/replication/operation/execution/execution_test.go
  src/replication/operation/flow/stage.go
  src/replication/operation/flow/stage_test.go
  src/replication/operation/hook/task.go
  src/replication/operation/hook/task_test.go
Labels: target/1.9.0

#8831 Add placeholder in registry page when select helm-hub
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.html
  src/portal/lib/src/create-edit-endpoint/create-edit-endpoint.component.ts
Labels: target/1.9.0

#8852 fix(database): generate db url by url.URL for schema upgrade
  src/common/dao/pgsql.go
Labels: target/1.9.0

#8857 fix quota sync read only setting
  src/core/api/internal.go
Labels: target/1.9.0

#8856 Hard delete project metadata
  make/migrations/postgresql/0010_1.9.0_schema.up.sql
  src/common/dao/pro_meta.go
Labels: target/1.9.0

#8867 Tag retention same digest tag
  src/pkg/retention/dep/client.go
  src/pkg/retention/job_test.go
  src/pkg/retention/policy/action/performer_test.go
  src/pkg/retention/policy/alg/or/processor_test.go
  src/pkg/retention/policy/builder_test.go
  src/pkg/retention/res/candidate.go
Labels: area/tag-retention, target/1.9.0

#8873 show empty if time is 0
  src/pkg/retention/job.go
Labels: area/tag-retention, target/1.9.0

#8854 fix(build): max idle and open conn settings for external db
  make/harbor.yml
  make/photon/prepare/utils/configs.py
  tools/migration/cfg/migrator_1_9_0/harbor.yml.jinja
Labels: target/1.9.0

#8882 verify permission of GetRetentionExecTaskLog
  src/core/api/retention.go
  src/pkg/retention/controller.go
  tests/harbor_ca.crt
  tests/harbor_ca.key
Labels: area/tag-retention, target/1.9.0

#8883 enhance tag retention log
  src/pkg/retention/dao/retention_test.go
  src/pkg/retention/job.go
  src/pkg/retention/launcher.go
Labels: area/tag-retention, target/1.9.0

#8902 fix #8888
  src/core/middlewares/countquota/handler_test.go
  src/core/middlewares/countquota/util.go
Labels: target/1.9.0

#8903 fix #8807
  src/common/utils/registry/repository.go
Labels: target/1.9.0
